
/* ESTILO GERAL*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: black;
    height:100vh;
}
.interface{
    max-width: 1280px;
    margin: 0 auto;
}

/* ESTILO DO CABEÇALHO*/
header{
    padding: 40px 4%;
}
header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Deixa o maximo de espaço de um para o outro*/

}
header a {
    color: rgb(121, 120, 120);
    text-decoration: none; /* Tira o Sublinhado do menu*/
    display: inline-block; /* Detalhe lembrando que o Zoom so funciona se tiver as propriendade do inline e tendo as propriedas do block*/
    transition: 2s;/* Suavisa o efeito do Zoom*/
}
header a:hover {
color: #fff; /* Faz a cor ficar mais clara quando passar o mouse nas letras de navvegação*/
transform: scale(1.05); /* Dar o Zoom nas letras de navvegação*/
}
header nav ul {
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px; /* Deixa o o em cima e em baixo mais esquerda e direita 40px*/

}

header .btn-equipe button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #B58ADF;
    border: 0;
    border-radius: 30px;
    cursor: pointer;

}

header .btn-equipe button:hover {
    box-shadow: 0px 0px 8px #b58adf; /* Horizontal e Vertical 0 e espalhamento em 8px  (dar um efeito de Sombreado)*/
}